<div class="container mt-4">
  <h1 class="text-center">CRUD SIMPLE</h1>
  <div class="card">
    <div class="card-header text-center">
      List Employees
    </div>
    <ul class="list-group list-group-flush">
      <li *ngFor="let employee of employees"
        (click)="selectEmployee(employee)"
        [ngClass]="{active: currentEmployee.id === employee.id}"
        class="list-group-item list-group-item-action">{{ employee.name }} - {{ employee.country }}

      </li>
    </ul>
  </div>

  <br>
  <hr>
  <h3>Form for Employee</h3>
  <div class="form-group">
    <label for="name">Name</label>
    <input type="text" class="form-control" id="name" placeholder="add a name" [(ngModel)]="currentEmployee.name">
  </div>
  <div class="form-group">
    <label for="country">Country</label>
    <input type="text" class="form-control" id="country" placeholder="add a country"
      [(ngModel)]="currentEmployee.country">
  </div>
  <button (click)="saveOrUpdate()" type="button" class="btn btn-outline-primary">Add or Update</button>
  <button (click)="delete()" type="button" class="btn btn-outline-danger ml-2">Delete</button>
</div>
